<div class="d-flex justify-content-between align-items-center">
  <h3 class="mt-0 mb-3 display-8">
    <%= user.first_name + " " + user.last_name + " (" + user.username + ")" %>
  </h3>

  <div>
    <span class="badge badge-secondary">
      <%= user.private? ? "Private" : "Public" %>
    </span>
  </div>
</div>
<% if @user != current_user %>
  <div class="mb-2 d-flex justify-content-between">
    <div>
      <%= user.followers.size %> 
      followers
    </div>

    <div>
      <%= user.leaders.size %>
      following
    </div>

    <% if policy(@user).update? %>
      <div>
        <%= user.pending.size %>
        pending
      </div>
    <% end %>
  </div>

  <div class="row mb-2">
    <div class="col">
      <% follow_request = current_user.pending_received_follow_requests.find_by(sender: @user) %>

      <% if follow_request %>
        <p class="lead text-center">
          <%= @user.username %> has sent you a follow request.
        </p>

        <% follow_request.status = "accepted" %>

        <%= form_with(model: follow_request) do |form| %>
          <%= form.hidden_field :status %>

          <%= form.submit "Accept follow request", class: "btn btn-outline-success btn-block mb-3" %>
        <% end %>

        <% follow_request.status = "rejected" %>

        <%= form_with(model: follow_request) do |form| %>
          <%= form.hidden_field :status %>

          <%= form.submit "Reject follow request", class: "btn btn-outline-danger btn-block mb-3" %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col">
      <%= render "follow_requests/follow_unfollow", recipient: @user %>
    </div>
  </div>
<% end %>

